# This workflow will build a .NET Core app using .NET 10 Ubuntu.
#
name: Build and deploy ASP.Net Core app to an Azure Web App

env:
  DOTNET_VERSION: "10.0"                            # Set this to the .NET Core version you want to use

on:
  push:
    pull_request:
      branches: [ "main" ]

jobs:
  build:
    name: PR Verify (Build .NET Core Solution)
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Build with dotnet
        run: dotnet build --configuration Release